body{
	margin:0;
	padding:0;
}
.Reg-form{
	background-image:url('bg1.jpg');
	width:600px;
	height:400px;
	margin:200px auto;
	background-repeat:no-repeat;
	background-size: cover;
	border-radius:5px;
}
.form-part{
	width:500px;
	height:300px;
	padding:10px;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
}